body {
    text-align: center;
    margin: 0 auto;
    background-color: #232323;
    /* width: 300px; */
}

.square {
    width: 30%;
    background-color: red;
    padding-bottom: 30%;
    float: left;
    margin: 1.66%;
    /* border: 2px solid black; */
}   

#container {
    margin: 0 auto;
    max-width: 600px;
}

h1 {
    color: white;
}
/* 
span {
    color: white;
} */

#stripe {
    background: white;
    height: 30px
    text-align: center;
}

.selected {
    background: blue;
}